{% extends "layout.html" %}

{% block title %}
add feature
{% endblock %}

{% block main %}
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/script.js"></script>

<!-- /js files -->

    <form action="/add_feature"  id = "feature_form" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Feature Title" type="text" required="required"/>
        </div>
            <div class="form-group">
                <textarea  rows="4" cols="50" class="form-control" name="description" placeholder = "Describe feature" required="required"></textarea>
            </div>

        <div  class="pure-u-1-2 reg-month puree-dropdown dropdown form-group">
            <select  name="client_id" class="form-control" id="clients">
            <option  selected="" value="" disabled="">For&nbsp; Client</option>

            <select  name="client_id" class="form-control" id="clients" required="required">
            <option   selected="" value="" disabled="">For&nbsp; Client</option>
            {% for client in clients %}
                    <option    value="{{client["id"]}}">{{client["name"]}}</option>
            {% endfor %}
            </select>
            <div class="arrow"></div>
        </div>

        <div class="form-group">
            <input  class="form-control" name="priority" placeholder="choose priority" type="number" min="0" required/>
            <input  class="form-control" name="priority" placeholder="choose priority" type="number" min="1" required="required"/>
        </div>
        <div class="form-group">
            <b>Target date</b> <input  type="date"   name="date" required="required"/>
        </div>
        <div  class="pure-u-1-2 reg-month puree-dropdown dropdown form-group">
            <select class="form-control" name="product_area" id="products"  aria-required="true">
            <option  selected="" value="" disabled="">Product Area</option>

            <select class="form-control" name="product_area"  required="required">
            <option  selected="" disabled="">Product Area</option>
                    <option  value="policies">Policies</option>
                    <option  value="billing">Billing</option>
                    <option  value="claims">Claims</option>
                    <option  value="reports">Reports</option>
            </select>
            <div class="arrow"></div>
        </div>
        <button id="feature_button" class="btn btn-primary" type="submit">Submit</button>
    </form>


{% endblock %}
